<footer class="flexrow">
    <ul class="flexrow">
        <li><a class="btn">©Moon Meets</a></li>
        <li><a href="/events/about" class="btn">ABOUT</a></li>
        <li><a href="/events/contact" class="btn">CONTACT</a></li>
    </ul>

    <ul class="flexrow">
        <li><a href="#" class="btn"><i class="fa-brands fa-facebook-f"></i></a></li>
        <li><a href="#" class="btn"><i class="fa-brands fa-twitter"></i></a></li>
    </ul>
</footer>
</body>
</html>