<%- include('./partials/header.ejs')%>
    <main class="flexcolumn wrapper">
        <h1>About Moon Meets</h1>
        <p>Moon Meets is a platform that was created to allow vacationers on the Moon to connect and have fun. If you ever find your self bored on the Moon just load our website and find something to do!</p>
        <p>Check out the Events page above to browse future events hosted exclusively on Moon Meets!</p>
    </main>
</body>
<%- include('./partials/footer.ejs')%>