<%- include('./partials/header.ejs')%>
    <main class="flexcolumn wrapper">
        <h1>Contact US</h1>
        <p>Location: Office 5 of the Moon office building on the Moonbase</p>
        <p>Phone: (407)767-4433</p>
    </main>
</body>
<%- include('./partials/footer.ejs')%>