<%- include('./partials/header.ejs')%>
    <main class="flexcolumn wrapper">
        <h1>Welcome to Moon Meets!</h1>
        <p>Moon Meets allows people to connect with eachother on the Moon by creating or participating in events. If you're ever bored while visiting Earth's only natural satellite try out a Moon Meet and connect with other bored Moon goers! </p>
        <p>Check out the Events page above to browse future events hosted exclusively on Moon Meets!</p>
    </main>
</body>
<%- include('./partials/footer.ejs')%>